.sapTntNavLIItemSelected.sapTntNavLIItem.LoadNavItemSelected,
.sapTntNavLIItemSelected.LoadNavItemSelected 
.sapTntNavLIGroup.LoadNavItemSelected, 
.sapTntNavLIItemSelected.sapTntNavLIGroupItem.LoadNavItemSelected {
	background-color: white !important
}

.sapMTabStrip {
	background : #785cbc;
	box-shadow : inherit;
	margin-bottom : 25px;
}
.sapMBarPH, .sapMBarContainer {
  background-color: #efe2fc !important;
}

.sapUiInvisibleText {
    color: #785cbc !important;
}



.scroll {
	background : #785cbc;
}

.sapTntSideNavigationFlexibleContent {
	background-color: #d8b7f8 !important;
}


#container-wlcp-ui---gameEditor--mainSplitter-content-1.sapUiLoSplitterContent {
	overflow : unset !important;
}

.sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem 
.sapMTSItemCloseBtnCnt {
	display : inherit;
}

.sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem 
.sapMTabStripItemLabel {
	color : white;
}

.sapMTabStrip .sapMTSRightOverflowButtons .sapMBtn.sapMBtnBase {
	background : #785cbc; 
}

.sapMTabStrip .sapMTSLeftOverflowButtons .sapMBtn.sapMBtnBase {
	background : #785cbc; 
}

.sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner {
	text-align: center !important;
}

html.sap-desktop .sapMSlt.sapMTSSlt, html.sap-tablet .sapMSlt.sapMTSSlt {
	display : none;
}

.sapMTabStrip .sapMTSTabsContainer {
	width : 140px;
}

.jtk-drag-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
	cursor: default;
}

#container-wlcp-ui---gameEditor--padPage-title {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Opera and Firefox */
	cursor: default;
}

#container-wlcp-ui---gameEditor--padPage-title-inner {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Opera and Firefox */
	cursor: default;
}

.titleText {
	max-width: 240px;
}

.toolBoxButton {
	width: 200px;
	left: 50%;
	margin-left: -100px;
	position: relative;
	max-width: 200px;
}

.clickableToolBoxButton {
	top : 288px;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	position: relative;
	max-width: 200px;
}

.toolBoxText {
	color: #000000 !important;
    font-size: 1rem;
}

.stateDescriptionHBox {
	background-color : #eff4f9;
}
.stateDescription {
	margin-left : 5px;
	margin-right : 5px;
}

#outputStateDialog-scroll {
	width: auto !important;
}

#outputStateDialog-scrollCont {
	padding:0rem;
}

.sapUiLoSplitterNoResize {
	width : 0 !important;
	height : 0 !important;
}

.navList {
	height:500px;
	width:200px;
	border-style:solid;
	border-width:2px;
	border-color:#785cbc;
	border-top-style:none;
	border-left-style:none;
	border-bottom-style:none;
}

[class*='close-'] {
  color: #bbbbbb;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 8px;
}

.close-thik:after {
  content: '✖';
}

.close-thik:hover {
    box-shadow: 0px 0px 15px #ff6442;
    border-radius : 50%;
}

[class*='close2-'] {
  color: #bbbbbb;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 4px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 4px;
}

.close2-thik:after {
  content: '✖';
}

.close2-thik:hover {
    box-shadow: 0px 0px 15px #ff6442;
    border-radius : 50%;
}

.centerButton {
	left: 50%;
  	transform: translateX(-50%);
  	margin-top: 10px;
}

/* Transition */
.transition {
	height:67.5px;
    width: 80px;
    float: left;
    position: absolute;
    background-color: #785cbc;
    border-radius : 15px 15px 15px 15px;
}

.buttonPressTransition {
	
}

.centerToolboxTransition {
	left: 50%;
	margin-left: -37.5px;
}

.centerTransitionText {
	text-align:center;
 	display: block;
  	position: relative;
	top: 50%;
  	transform: translateY(-50%);
 	color:#FFFFFF;
 	font-weight: bold;
}

.centerUsername {
	overflow-wrap: anywhere;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* State */
.stateBorderShadow:hover {
    box-shadow: 0px 0px 50px #0496ff;
    border-radius : 15px;
}

.state {
	height:125px;
    width: 150px;
    float: left;
    position: absolute;
}

 
 /* State */
.startStateBorderShadow:hover {
    box-shadow: 0px 0px 50px #0496ff;
    border-radius : 50px;
}

.startState {
	height: 90px;
	width: 90px;
	float: left;
	position: absolute;
	
}

.centerToolboxState {
	left: 50%;
	margin-left: -75px;
}


/* .centerStateText {
	text-align:center;
  	display: block;
  	position: relative;
	top: 50%;
  	transform: translateY(-50%);
  	color:#3F5161;
  	white-space : normal;
	word-wrap : break-word;
} */


.centerStateText {
    text-align: center;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #785cbc;
    white-space: normal;
    word-wrap: break-word;
    font-weight: bold;
}

/* Start State */
/* .startStateTopColor {
    height : 100px;
    width : 150px;
    background-color: #D3D7D9;
    border-radius : 15px 15px 0px 0px;
}


.startStateBottomColor {
    height : 25px;
    width : 150px;
    background-color: #ABE2AB;
    border-radius : 0px 0px 15px 15px;
} */


/* Start State */
.startStateTopColor {
	height: 90px;
	width: 90px;
	background-color: #20bf55;
	border-radius: 50px 50px 50px 50px;
}

.startStateBottomColor {
	/* height: 50px; */
	/* width: 100px; */
	/* background-color: #ABE2AB; */
	/* border-radius: 0px 0px 50px 50px; */
}

/* Output State ToolBox */
.toolboxOutputStateTopColor {
	height : 100px;
	width : 150px;
	background-color: #bbbbbb;
	border-radius : 15px 15px 0px 0px;
}

.toolboxOutputStateBottomColor {
	height : 25px;
	width : 150px;
	background-color: #0496ff;
	border-radius : 0px 0px 15px 15px;
}

/* Button Press State ToolBox */
.toolboxButtonPressStateTopColor {
	height : 100px;
	width : 150px;
	background-color: #bbbbbb;
	border-radius : 15px 15px 0px 0px;
}

.toolboxButtonPressStateBottomColor {
	height : 25px;
	width : 150px;
	background-color: #0496ff;
	border-radius : 0px 0px 15px 15px;
}

.sequencePressColorList {
	display:inline-block;
	float:left;
	height:120px;
	width:500px;
	margin: 5px;
    padding: 5px;
	outline-style: solid;
}

.sequenceButton {
	display : inline-block !important;
	float: left;
    width: 100px;
    margin: 7.5px;
    padding: 5px;
    height: 100px;
}

.sequenceButtonRed {
	background: #ff6442;
}

.sequenceButtonGreen {
	background: #20bf55;
}

.sequenceButtonBlue {
	background: #0496ff;
}

.sequenceButtonBlack {
	background: #333333;
}

.sequenceDeleteButton {
	height : 100px;
}

.switchButton {
	height : 20px;
	width : 150px;
	margin: 10px;
    padding: 5px;
}

.sapTntToolHeader {
    background-color: #785cbc !important;
    color: #333333 !important; 
}

.sapTntToolHeader .sapMBtnInner,
.sapTntToolHeader .sapMText,
.sapTntToolHeader .sapMLabel {
    color: white !important;
}
#container-wlcp-ui---gameEditor--toolbox.sapMScrollCont {
    background-color: #d8b7f8 !important;
}

#container-wlcp-ui---gameEditor--padPage-intHeader-BarPH {
    background-color: #efe2fc !important;
}
.sapTntToolHeader * {
    color: white !important;
}
#container-wlcp-ui---gameEditor--toolbox .sapMBtn .sapMBtnInner {
    color: #000000 !important; 
    font-weight: bold;          
}