.page {
	background-image: url('../resources/img/background.jpg');
    background-size: cover;
}
	 
.box {
	width: 350px;
	height: 350px;
	background-color: #efe2fc;
	box-shadow: 4px 8px 16px rgba(51, 51, 51, 1);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -175px;
    margin-left: -175px;
}