.page {
	background-image: url('../resources/img/background.jpg');
    background-size: cover;
}
	 
.box {
	width: 350px;
	height: 350px;
	background-color: white;
	box-shadow: 4px 8px 16px rgba(0, 0, 0, 1);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -175px;
    margin-left: -175px;
}

@font-face {
	font-family: 'password';
	font-style: normal;
	font-weight: 400;
	src: url(password.ttf);
  }

.password {
	font-family: password;
	/* Use -webkit-text-security if the browser supports it */
	-webkit-text-security: disc;
}